.MuiDrawer-root .MuiPaper-root {
    background: rgba(36, 39, 41, 0.1);
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    color: #fff;
}

.logo {
    font-size: 26px;
    margin: 50px auto;
}

$drawer-width: 280px;

.drawer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: $drawer-width;
    height: 100%;
    flex-shrink: 0;
    padding: 20px;
    font-family: "Montserrat SemiBold";
    box-sizing: border-box;
}

.drawer-paper {
    border-right: 0;
}

.dapp-nav {
    width: 100%;

    .dapp-menu-item {
        display: flex;
        align-items: center;
        font-size: 16px;
        color: #fff;

        img {
            margin-right: 10px;
            width: 20px;
            height: 20px;
        }
    }
}

.dapp-menu-doc-link {
    display: flex;
    justify-content: center;
    margin-top: auto;
    width: 100%;

    .doc-link {
        width: 40%;
        display: flex;
        justify-content: space-evenly;
    }

    a {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;

        img {
            width: 20px;
            height: 20px;
            margin-right: 10px;
            vertical-align: middle;
        }

        p {
            font-family: Montserrat SemiBold;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #ffffff;
        }
    }
}

.social-row {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    padding: 1.3rem 0;
    width: 100%;
    a {
        &:hover {
            transform: scale(1.1);
        }
        img {
            height: 20px;
            width: 20px;
        }
    }
}
