@import url(../styles/fonts.scss);

body {
    margin: 0;
    font-family: "Montserrat";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
}

#root,
.App {
    min-height: 100vh;
    width: 100%;
    display: flex;
    background: #121415;
    color: #fff;
}
